html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden], template {
  display: none;
}

a {
  background-color: #0000;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

:root {
  --color--christopher-stur-white: #fafaf7;
  --font-desktop--h01-christopher-stur: 3.125rem;
  --font-desktop--h02-christopher-stur: 2.5rem;
  --font-desktop--h04-christopher-stur: 1.875rem;
  --color--christopher-stur-black: black;
  --size--whitespace-01: 1.5rem;
  --paragraph-desktop--p03-christopher-stur: .725rem;
  --color--christopher-stur-dark: #333;
  --paragraph-desktop--p04-christopher-stur: .6725rem;
  --color--christopher-stur-grey: #7d7d7a;
  --paragraph-desktop--p05-christopher-stur: .5257rem;
  --color--christopher-stur-silver: #afafac;
  --font-desktop--h05-christopher-stur: 1.5625rem;
  --paragraph-desktop--p01-christopher-stur: .9375rem;
  --paragraph-desktop--p02-christopher-stur: .8125rem;
  --font-desktop--h03-christopher-stur: 2.1875rem;
  --size--whitespace-0-25: .25rem;
  --size--whitespace-0-5: .5rem;
  --size--whitespace-02: 3rem;
  --small--s01-christopher-stur: 0px;
  --small--s02-christopher-stur: 0px;
}

.christopher---stur-body {
  background-color: var(--color--christopher-stur-white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: scroll;
}

.christopher---stur-body._404 {
  justify-content: center;
  align-items: center;
}

.christopher---stur-body.work {
  align-items: stretch;
}

.christopher---stur-menu {
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-size: 5vw;
  line-height: var(--font-desktop--h01-christopher-stur);
  word-break: keep-all;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
}

.christopher---stur-menu.load {
  color: var(--color--christopher-stur-black);
  font-size: 3vw;
}

.christopher---stur-copyright {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: static;
  inset: auto 4% 0%;
}

.christopher--stur-section-b {
  z-index: 991;
  mix-blend-mode: difference;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-width: 100vw;
  max-height: 0;
  display: flex;
  position: fixed;
}

.christopher---stur-404-w {
  z-index: 0;
  color: var(--color--christopher-stur-white);
  text-align: center;
  object-fit: fill;
  margin-top: 3.188rem;
  margin-left: -5%;
  margin-right: -5%;
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: 40vw;
  line-height: 20rem;
  position: relative;
  overflow: visible;
}

.christopher---stur-404-w.christopher---stur-404-4 {
  margin-left: -11%;
  margin-right: -11%;
  font-size: 50vw;
}

.div-block-2 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: visible;
}

.christopher---stur-w-w {
  justify-content: center;
  align-items: center;
  width: 98%;
  display: flex;
  position: fixed;
  overflow: hidden;
}

.image {
  z-index: 1;
  width: 45%;
  position: relative;
}

.frame-vh {
  width: var(--size--whitespace-01);
  height: 100vh;
}

.frame-vh.left {
  z-index: 998;
  background-color: var(--color--christopher-stur-white);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
  overflow: hidden;
}

.frame-vh.left.bg {
  z-index: 990;
  width: 50vw;
  height: 100vh;
  display: block;
}

.frame-vh.right {
  z-index: 997;
  background-color: var(--color--christopher-stur-white);
  justify-content: center;
  display: flex;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.frame-vh.right.bg {
  z-index: 990;
  transform-origin: 100%;
}

.frame-vw {
  height: var(--size--whitespace-01);
  width: 100vw;
}

.frame-vw.btm {
  z-index: 999;
  background-color: var(--color--christopher-stur-white);
  justify-content: space-between;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.frame-vw.btm.bg {
  z-index: 990;
  transform-origin: 50% 100%;
}

.frame-vw.top {
  z-index: 999;
  background-color: var(--color--christopher-stur-white);
  position: fixed;
  inset: 0% 0% auto;
}

.frame-vw.top.bg {
  z-index: 990;
  transform-origin: 50% 0;
}

.text-block-4 {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  color: var(--color--christopher-stur-black);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p03-christopher-stur);
  line-height: var(--size--whitespace-01);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.date-and-time {
  font-family: Roboto Mono, sans-serif;
  font-weight: 450;
  font-size: var(--paragraph-desktop--p03-christopher-stur);
  line-height: var(--size--whitespace-01);
}

.date-and-time.l {
  margin-left: var(--size--whitespace-01);
  text-align: left;
}

.date-and-time.r {
  margin-right: var(--size--whitespace-01);
  text-align: right;
}

.div-block-25 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.default-section-christopher---stur {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-black);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.default-section-christopher---stur.tools {
  padding-top: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-01);
  justify-content: flex-start;
}

.default-section-christopher---stur.contact {
  background-color: var(--color--christopher-stur-white);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.default-section-christopher---stur.work {
  margin: var(--size--whitespace-01);
  flex-direction: row;
  justify-content: flex-end;
}

.div-block-27 {
  margin-left: var(--size--whitespace-01);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  display: flex;
}

.div-block-28 {
  margin-right: var(--size--whitespace-01);
  width: 15%;
}

.menu-black {
  height: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-dark);
  width: .1257rem;
}

.menu-black.clear {
  background-color: #0000;
}

.div-block-30 {
  width: var(--size--whitespace-01);
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding-top: .25rem;
  display: flex;
}

.div-block-31 {
  width: var(--size--whitespace-01);
  padding-top: var(--paragraph-desktop--p04-christopher-stur);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-6 {
  height: var(--size--whitespace-01);
  color: var(--color--christopher-stur-black);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p04-christopher-stur);
  line-height: var(--size--whitespace-01);
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transform: rotate(-90deg);
}

.text-block-6.r {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  text-align: left;
}

.text-block-6.r.old {
  display: none;
}

.div-block-32 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.div-block-33 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.menu-link {
  color: var(--color--christopher-stur-dark);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h02-christopher-stur);
  line-height: var(--font-desktop--h01-christopher-stur);
  text-decoration: none;
}

.menu-link.w--current {
  color: var(--color--christopher-stur-grey);
  font-style: italic;
}

.menu-link.construction {
  text-decoration: line-through;
}

.div-block-34 {
  width: var(--size--whitespace-01);
  overflow: hidden;
}

.div-block-35 {
  width: var(--size--whitespace-01);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
}

.stur---nav {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  overflow: scroll;
}

.section-11 {
  background-color: var(--color--christopher-stur-black);
  position: fixed;
}

.div-block-36 {
  width: 100vw;
  height: 100vh;
}

.section-12 {
  position: fixed;
  inset: auto 1.5rem 3rem;
}

.text-block-7 {
  color: var(--color--christopher-stur-grey);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p04-christopher-stur);
  line-height: var(--paragraph-desktop--p03-christopher-stur);
  text-align: center;
  -webkit-text-stroke-color: var(--color--christopher-stur-dark);
  text-transform: uppercase;
}

.div-block-37 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.header-section---christopher---stur {
  z-index: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 33vh;
  display: flex;
  position: sticky;
  top: 33.5vh;
}

.christopher---stur-menu-s {
  color: var(--color--christopher-stur-silver);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h05-christopher-stur);
  line-height: var(--font-desktop--h04-christopher-stur);
  letter-spacing: .055rem;
  margin-bottom: 0;
  font-weight: 400;
}

.div-block-38 {
  justify-content: center;
  width: 100%;
  display: flex;
}

.div-block-39 {
  padding-left: 5%;
}

.div-block-40 {
  padding-left: 15%;
}

.heading-text-style {
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h01-christopher-stur);
  line-height: var(--font-desktop--h01-christopher-stur);
}

.div-block-41 {
  padding-top: 5%;
  padding-left: 5%;
}

.list-tools-christopher---stur {
  align-items: center;
  padding-left: 3vw;
  display: flex;
}

.tools-text-element-christopher---stur {
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p01-christopher-stur);
  line-height: var(--font-desktop--h04-christopher-stur);
}

.tools-text-element-christopher---stur.line {
  padding-right: var(--size--whitespace-01);
}

.link {
  color: var(--color--christopher-stur-white);
  text-decoration: none;
}

.text-block-9 {
  color: var(--color--christopher-stur-dark);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h01-christopher-stur);
  line-height: var(--font-desktop--h01-christopher-stur);
}

.contact-christopher---stur-right {
  width: 100%;
}

.mail-header {
  align-items: center;
  display: flex;
}

.mail-link-overlay {
  width: 5rem;
}

.selection-element {
  color: var(--color--christopher-stur-dark);
  font-family: Roboto Mono, sans-serif;
  font-size: var(--paragraph-desktop--p04-christopher-stur);
  line-height: var(--font-desktop--h05-christopher-stur);
  flex-wrap: wrap;
  display: flex;
}

.selector-spacer {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
}

.splitter {
  flex-direction: row;
  align-items: center;
  width: 22vw;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 3rem;
}

.div-block-45 {
  width: 30vw;
}

.selection-class-name {
  color: var(--color--christopher-stur-grey);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p02-christopher-stur);
  line-height: var(--paragraph-desktop--p02-christopher-stur);
}

.form {
  color: var(--color--christopher-stur-dark);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p02-christopher-stur);
  line-height: var(--paragraph-desktop--p02-christopher-stur);
  text-transform: uppercase;
  white-space: nowrap;
}

.form-layout-input {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.text-field {
  width: 30vw;
}

.field-label {
  padding-right: var(--size--whitespace-01);
}

.submit-button {
  background-color: var(--color--christopher-stur-black);
}

.div-block-46 {
  z-index: 1;
  display: flex;
  position: relative;
}

.lottie-animation, .lottie-animation-2 {
  width: 60vw;
}

.prev-vid {
  position: relative;
}

.prev-vid.l {
  z-index: 2;
  margin-top: -30vh;
  padding-left: 8vw;
}

.prev-vid.t {
  z-index: 1;
  margin-left: -35vw;
}

.section-13 {
  background-color: var(--color--christopher-stur-black);
  width: 100vw;
}

.section-15 {
  background-color: var(--color--christopher-stur-black);
  width: 100vw;
  height: 400vh;
}

.progress-bar {
  z-index: 9999;
  padding-left: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-black);
  transform-origin: 0%;
  width: 15vw;
  height: .15rem;
  position: fixed;
}

.progress-bar-bg {
  z-index: 999;
  padding-left: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-silver);
  width: 15vw;
  height: .15rem;
  position: fixed;
}

.frame-vh-bg {
  z-index: 990;
  width: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-white);
  height: 100vh;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.loading-info-display {
  z-index: 995;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color--christopher-stur-white);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
  position: fixed;
  inset: 0%;
  overflow: visible;
}

.age {
  padding-top: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  flex-direction: row;
  align-items: flex-end;
  margin-top: 3rem;
  margin-left: 3rem;
  display: flex;
  position: fixed;
}

.clock {
  z-index: 995;
  padding-top: var(--size--whitespace-01);
  padding-right: var(--size--whitespace-01);
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 3rem;
  margin-right: 3rem;
  display: flex;
  position: fixed;
  inset: 0% 0% auto auto;
}

.links-info {
  z-index: 995;
  padding-right: var(--size--whitespace-01);
  align-items: center;
  margin-right: 3rem;
  display: flex;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.name {
  z-index: 995;
  padding-bottom: var(--size--whitespace-01);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  margin-bottom: 1rem;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.menu {
  z-index: 995;
  padding-left: var(--size--whitespace-01);
  flex-direction: row;
  align-items: center;
  width: 6rem;
  margin-left: 3rem;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.info-text {
  color: var(--color--christopher-stur-dark);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p04-christopher-stur);
  line-height: var(--paragraph-desktop--p04-christopher-stur);
  text-transform: uppercase;
}

.info-text.b {
  padding-right: 2rem;
}

.svgflow-7pzgg {
  height: 4rem;
  transform: rotate(180deg);
}

.arrowleftpre {
  height: 4rem;
  transform: rotate(-90deg);
}

.arrowrightinfo {
  height: 4rem;
  transform: rotate(90deg);
}

.div-block-47 {
  padding-right: 2rem;
}

.div-block-48 {
  padding-left: 2rem;
}

.div-block-49 {
  padding-top: 2rem;
}

.svgflow-q2dkf {
  height: 4rem;
  padding-right: 2rem;
}

.clock-arrow {
  transform-style: preserve-3d;
  height: 4rem;
  transform: rotateX(0)rotateY(-180deg)rotateZ(0);
}

.section-16 {
  padding-left: var(--size--whitespace-01);
  flex-direction: row;
  justify-content: flex-end;
  width: 70vw;
  display: flex;
}

.collection-list-wrapper {
  padding-top: var(--size--whitespace-01);
  padding-right: var(--size--whitespace-01);
  width: 70vw;
  margin-top: 15vh;
  margin-right: 1.5rem;
  position: static;
  right: 0;
}

.collection-list {
  flex-direction: column;
  display: flex;
}

.collection-item {
  margin-bottom: var(--size--whitespace-01);
  flex-direction: column;
}

.cms-name {
  padding-top: var(--size--whitespace-01);
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h05-christopher-stur);
  line-height: var(--font-desktop--h04-christopher-stur);
  text-transform: uppercase;
}

.text-block-10 {
  margin-bottom: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-01);
  color: var(--color--christopher-stur-grey);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p05-christopher-stur);
  line-height: var(--font-desktop--h05-christopher-stur);
  text-transform: uppercase;
}

.div-block-50 {
  justify-content: center;
  align-items: flex-end;
  height: 33vh;
  display: flex;
}

.div-block-51 {
  height: 33vh;
}

.text-block-11 {
  padding-top: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-01);
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h01-christopher-stur);
  line-height: var(--font-desktop--h01-christopher-stur);
  text-transform: uppercase;
}

.html-embed {
  display: none;
}

.projects-section-christopher---stur {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-black);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  display: flex;
}

.projects-section-christopher---stur.tools {
  padding-top: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-01);
  justify-content: flex-start;
}

.projects-section-christopher---stur.contact {
  background-color: var(--color--christopher-stur-white);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.projects-section-christopher---stur.work {
  margin: var(--size--whitespace-01);
  flex-direction: row;
  justify-content: flex-end;
}

.quick-stack {
  width: 100%;
  height: 70vh;
  padding: 0;
}

.image-2 {
  width: 100%;
}

.image-block {
  padding-top: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-01);
  z-index: 1;
  width: 100%;
  height: 40vh;
}

.image-block.r {
  text-align: right;
}

.christopher---stur-project-image-banner {
  object-fit: cover;
  object-position: 75% 50%;
  height: 100%;
}

.christopher---stur-project-image-banner.s {
  object-position: 50% 50%;
}

.image-container {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.center {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.div-block-52 {
  padding-bottom: var(--size--whitespace-01);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.christopher---stur-loading {
  color: var(--color--christopher-stur-silver);
  font-family: Roboto Mono, sans-serif;
  font-weight: 400;
  font-size: var(--font-desktop--h05-christopher-stur);
  line-height: var(--font-desktop--h03-christopher-stur);
}

.christopher---stur-loading-bar-front {
  z-index: 1999;
  background-color: var(--color--christopher-stur-black);
  width: 0%;
  height: 2px;
  margin-bottom: -2px;
  position: relative;
}

.div-block-54 {
  display: flex;
}

.christopher---stur-loading-number {
  color: var(--color--christopher-stur-silver);
  font-family: Roboto Mono, sans-serif;
  font-size: var(--font-desktop--h05-christopher-stur);
  line-height: var(--font-desktop--h03-christopher-stur);
}

.christopher-stur--loading-bar {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.div-block-56 {
  width: 49vw;
  position: relative;
}

.christopher---stur-loading-bar {
  width: 80%;
}

.christopher---stur-loading-bar-back {
  z-index: 1998;
  background-color: var(--color--christopher-stur-silver);
  height: 2px;
  position: relative;
}

.div-block-57 {
  display: flex;
  justify-content: flex-end; /* Aligns the "0%" to the right */
  align-items: center;
  width: 60px;               /* Fixed width to accommodate "100%" without moving */
  text-align: right;
  flex-shrink: 0;            /* Prevents the bar from squishing this block */
}

.christopher---stur-project-heading {
  padding-right: var(--size--whitespace-01);
  padding-bottom: 5.5rem;
  padding-left: var(--size--whitespace-01);
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.text-block-12 {
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h01-christopher-stur);
  line-height: var(--font-desktop--h01-christopher-stur);
}

.christopher---stur-paragraph {
  color: var(--color--christopher-stur-white);
  text-transform: uppercase;
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
}

.christopher---stur-paragraph.sub {
  color: var(--color--christopher-stur-grey);
  font-size: var(--paragraph-desktop--p03-christopher-stur);
  line-height: var(--paragraph-desktop--p03-christopher-stur);
}

.christopher---stur-projects-title {
  padding-right: var(--size--whitespace-01);
  padding-left: var(--size--whitespace-01);
}

.christopher---stur-main-paragraph {
  padding-bottom: var(--size--whitespace-0-25);
  color: var(--color--christopher-stur-white);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--font-desktop--h05-christopher-stur);
  line-height: var(--font-desktop--h05-christopher-stur);
  text-transform: uppercase;
}

.christopher---stur-subtext {
  padding-top: var(--size--whitespace-0-5);
  padding-bottom: var(--size--whitespace-0-5);
  color: var(--color--christopher-stur-grey);
  font-family: Nunito Sans, sans-serif;
  font-variation-settings:
    "wdth" 125,
    "YTLC" 500;
  letter-spacing: .065rem;
  font-weight: 500;
  font-size: var(--paragraph-desktop--p05-christopher-stur);
  line-height: var(--paragraph-desktop--p05-christopher-stur);
}

.christopher---stur-projects {
  padding-top: var(--size--whitespace-02);
  padding-bottom: var(--size--whitespace-02);
  width: 100%;
}

.christopher---stur-contact {
  padding-right: var(--size--whitespace-01);
  padding-bottom: var(--size--whitespace-02);
  padding-left: var(--size--whitespace-01);
  background-color: var(--color--christopher-stur-black);
  width: 100vw;
  height: 100vh;
  display: none;
}

@media screen and (max-width: 991px) {
  .christopher---stur-menu {
    font-size: var(--font-desktop--h02-christopher-stur);
  }

  .christopher---stur-menu.load {
    font-size: 3vw;
  }

  .div-block-46 {
    margin-top: -20vh;
  }

  .prev-vid.l {
    margin-top: -15vh;
  }

  .image-block {
    height: 25vh;
  }

  .center {
    justify-content: flex-end;
    align-items: center;
    bottom: 25%;
  }

  .christopher---stur-loading {
    font-size: var(--paragraph-desktop--p01-christopher-stur);
  }

  .div-block-56 {
    width: 50vw;
  }
}

@media screen and (max-width: 767px) {
  .christopher---stur-menu {
    font-size: var(--font-desktop--h04-christopher-stur);
    line-height: var(--font-desktop--h04-christopher-stur);
  }

  .div-block-46 {
    margin-top: -25vh;
  }

  .christopher---stur-loading-bar {
    width: 70%;
  }
}

@media screen and (max-width: 479px) {
  .christopher---stur-menu {
    font-size: 4.5vw;
    line-height: 5vw;
  }

  .christopher---stur-copyright {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    height: 4.5vw;
  }

  .christopher--stur-section-b {
    flex: 0 auto;
  }

  .christopher---stur-404-w {
    object-fit: scale-down;
    margin-top: 3.188vw;
    font-size: 40vw;
    line-height: 20vh;
  }

  .frame-vh.right {
    height: 100%;
  }

  .frame-vh.right.bg {
    height: 100vh;
  }

  .text-block-4 {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .div-block-27, .div-block-28 {
    width: 1%;
  }

  .div-block-30 {
    height: 40vh;
  }

  .text-block-7 {
    font-size: var(--paragraph-desktop--p05-christopher-stur);
  }

  .christopher---stur-menu-s {
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .heading-text-style {
    font-size: var(--font-desktop--h04-christopher-stur);
    line-height: var(--font-desktop--h04-christopher-stur);
  }

  .div-block-46 {
    margin-top: -35vh;
  }

  .prev-vid.l {
    margin-top: -10vh;
  }

  .progress-bar, .progress-bar-bg {
    width: 10vw;
  }

  .age {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .clock {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .links-info {
    margin-right: 2rem;
  }

  .menu {
    margin-left: 2rem;
    padding-top: 3rem;
  }

  .svgflow-7pzgg, .arrowleftpre, .arrowrightinfo, .svgflow-q2dkf, .clock-arrow {
    height: 3rem;
  }

  .image-block {
    height: auto;
  }

  .christopher---stur-project-image-banner {
    width: 100%;
    height: auto;
  }

  .div-block-56 {
    width: 55vw;
  }

  .christopher---stur-loading-bar {
    width: 60%;
  }

  .christopher---stur-project-heading {
    padding-bottom: 3.5rem;
  }

  .christopher---stur-paragraph.sub {
    font-size: var(--paragraph-desktop--p04-christopher-stur);
    line-height: var(--paragraph-desktop--p04-christopher-stur);
  }

  .christopher---stur-main-paragraph {
    font-size: var(--paragraph-desktop--p01-christopher-stur);
    line-height: var(--paragraph-desktop--p01-christopher-stur);
  }
}
